IncludeBlocks:   Regroup
IncludeCategories:
  - Regex:           '^<.*'
    Priority:        2
    SortPriority:    0
  - Regex:           '^<.*/.*>'
    Priority:        3
    SortPriority:    0
  - Regex:           '.*'
    Priority:        4
    SortPriority:    0
IncludeIsMainRegex: '([-_](test|unittest))?$'
IncludeIsMainSourceRegex: ''
ColumnLimit: 9999